@model PurchaseSystem.DTO.Com_Bill_DTO

@{
    ViewBag.Title = "SaveUpdateBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SaveUpdateBill</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Com_Bill_DTO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="alert alert-dismissible alert-success" style="height:50px">
            <div class="col-md-6">
                <strong>
                    Customer Name : @Html.DisplayFor(a => a.CustomerMst.Name)
                </strong>
            </div>
            <div class="col-md-6">
                <strong>
                    Customer Mobile No : @Html.DisplayFor(a => a.CustomerMst.MobNo)
                </strong>
            </div>

        </div>
                
        <div class="form-group">
            @Html.LabelFor(model => model.Fk_ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fk_ProductId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fk_ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prodQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prodQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prodQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
