@model IEnumerable<PurchaseSystem.DTO.ProductListDTO>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductList</h2>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tblProduct').DataTable({
            }); 

        });
    </script>
}

<p>
    @Html.ActionLink("Create New", "AddUpdateProduct")
</p>
<table id="tblProduct" class="table">
    <thead>
        <tr>

            <th>

                productType
            </th>
            <th>
                ProductName

            </th>
            <th>
                ProductName

            </th>
            <th>
                sellingUpToPrice

            </th>
            <th>
                productQuantity

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.productType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.oriPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellingUpToPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productQuantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.pk_ProductId }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_ProductId })
                </td>
            </tr>

        }
    </tbody>
</table>





