@model IEnumerable<PurchaseSystem.Common.CustomerMst>

@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerList</h2>

<p>
    @Html.ActionLink("Create New", "SaveUpdateCustomer","Customer",null,new {@class="btn btn-primary" })
</p>
<table id="tblCustomerList" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MobNo)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MobNo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.pk_Custid }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_Custid })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(
            function () {
                $('#tblCustomerList').DataTable({
                });
            }
        );
    </script>
    }